@{
    ViewData["Title"] = "O nama";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Mi smo trgovina koja se vec dugo bavi prodajom skijaske opreme, a od sada mozete opremu iz naseg 
    ducana kupiti i preko webshopa. Rado cemo vas savjetovati, <a asp-action="Contact">kontak informacije.</a> </p>
