@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    XXXX ulica,<br />
    10000 Zagreb<br />
    <abbr title="Broj mobitela:">P:</abbr>
    00385.99599.xxx
</address>

<address>
    <strong>Email:</strong> <a href="mailto:jurij.kos1996@live.com">skop@live.com</a><br />
</address>
